<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<meta name="screen-orientation" content="portrait"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<style>
		body {
			margin: 0;
			background: #efefef;
			word-break:break-all;
		}

		.article {
			width: 980px;
			background: white;
			padding: 50px;
			margin: 100px auto;
			box-sizing: border-box;
			box-shadow: 0 0 3px rgba(0, 0, 0, .3);
		}

		li{
			margin-bottom: 15px;
		}
		@media screen and (max-width: 980px) {
			.article {
				width: 100%;
				background: white;
				padding: 30px 20px;
				margin: 0;
				box-sizing: border-box;
				box-shadow: 0 0 3px rgba(0, 0, 0, .3);
			}
		}
	</style>
	<title><%= title %></title>
</head>
<body>
<div id="app" class="wrapper">
	<div class="article">
		<ul>
			<% list.forEach(function(item){
				var title = item.split("\\").pop(); %>
			<li><a href="<%= item %>"><%= title %></a></li>
			<% }) %>
		</ul>
	</div>
</div>
<script></script>
</body>
</html>